div
  div.modal-header.edo-modal-header
    h3.modal-title.edo-modal-title {{ title }}
  div.modal-body
    p.edo-modal-body Thanks for emailing!
  div.modal-footer.edo-modal-footer
    button.btn.btn-primary.btn-default.btn-sm(ng-click="confirm()") Close
