div.content-header
  div.row
    div.col-xs-12
      h3.page-title.center
        img(src="assets/github-logo.jpg")
        | &nbsp;GitHub Repositories<br>
      h3.page-title.page-title-sub.center
        | Check Out My Code!
div.page-content
  div.row
    div.col-xs-12
      h3.center
        a(href="https://github.com/himalstorch/edocode.io", target="_blank") EdoCode<br>
        a(href="#", target="_blank") Upcoming WS<br><br><br><br><br><br><br>