div.subcontainer-non-responsive
  div.row
    div.col-xs-12
      h3.page-title.center
        | <br>GitHub Repositories<br><br>
        a(href="https://github.com/himalstorch/onehitcombo", target="_blank") OneHitCombo<br>
        a(href="#", target="_blank") Upcoming WS<br><br>