div.container
  div.row
    div.col-xs-12
      h3.page-title
        | Résumé (April 25th, 2014)<br><br>
  div.row
    div.col-xs-12
      object.resume(data="images/eric_storch_resume.pdf", type="application/pdf")
        p Stuff