div.row
  div.col-xs-12
    div.edo-content-header
      div.edo-content-piece
        h3.page-title &lsaquo;
      div.edo-content-piece
        h3.page-title.center
          | Résumé
        h3.page-title.page-title-sub.center
          | April 25th, 2014
      div.edo-content-piece
        h3.page-title &rsaquo;
div.page-contentx
  div.row
    div.col-xs-12.center
      object.resume(data="assets/eric_storch_resume.pdf", type="application/pdf")