div.row
  div.col-xs-12
    div.edo-content-header
      div.edo-content-piece
        h3.page-title &lsaquo;
      div.edo-content-piece
        h3.page-title.center
          | Web-Services
        h3.page-title.page-title-sub.center
          | In Development
      div.edo-content-piece
        h3.page-title &rsaquo;
div.edo-content
  div.row
    div.col-xs-12
      p <br><br><br><br><br><br><br><br><br><br><br><br>
