div.row
  div.col-xs-12
    div.edo-content-header
      div.edo-content-piece
        h3.page-title &lsaquo;
      div.edo-content-piece
        h3.page-title.center
          | Eric Storch
        h3.page-title.page-title-sub.center
          | Software Developer
      div.edo-content-piece
        h3.page-title &rsaquo;
div.edo-content
  div.row
    div.col-xs-8
      h1.page-subheader
        | About Me<br>
      p
        | My fiancé and I are new Seattle area residents. As such, I am actively seeking new employment as a back-end developer specializing in Java webservices and releated technologies (or something similar) as well as making new connections with local development community.<br><br>
      h1.page-subheader
        | About The Site<br>
      p
        | This website serves as a demonstration platform for custom-made web-services using multiple frameworks.<br><br>
      h1.page-subheader
        | Experience<br>
      p
        | I am a graudate of the University of Nevada, Las Vegas with a bachelor’s degree in Computer Science. I have spent the last year working on internal enterprise-level web applications with the excellent developers at Allegiant Travel Company in Las Vegas. Prior to this, I have been designing and developing websites on and off for the past twelve years.<br><br>
      h1.page-subheader
        |   Current Goals<br>
      p
        |     · Aquire a new job in the Seattle area as a back-end developer<br>
        |     · Further increasing my knowledge and abilities in back-end web technolgies<br>
        |     · Continue to expland the example section of this website<br>
        |     · Enjoy the culture and activities the Seattle area has to offer alongside my fiancé<br>
    div.col-xs-4.center
      img(src="assets/me.jpg")