div.row
  div.col-xs-12
    div.edo-content-header
      div.edo-content-piece
        h3.page-title &lsaquo;
      div.edo-content-piece
        h3.page-title.center
          | Eric Storch<br>
        h3.page-title.page-title-sub.center
          | Software Developer
      div.edo-content-piece
        h3.page-title &rsaquo;
      h3.page-title.center
        img(src="assets/linkedin-logo.jpg")
        | &nbsp;LinkedIn
      h3.page-title.page-title-sub.center
        | Let's Connect!
div.page-content
  div.row
    div.col-xs-12
      h1.center
        | Click the link to check out my LinkedIn profile.
      h3.center
        a(href="http://www.linkedin.com/pub/eric-storch/5a/5ba/654/", target="_blank")
          | LinkedIn Profile<br><br><br><br><br><br><br><br>
