div
  div.modal-header.edo-modal-header
    h3.modal-title.edo-modal-title {{ pageTitle }}
  div.modal-body
    form.css-form(name="emailForm", id="emailForm", novalidate)
      div.form-group
        div.row
          label.col-xs-2.email(for="email")
            span.required *&nbsp;
            | Email:
          div.col-xs-6
            input.form-control(type="email", placeholder="Email", name="email", id="email", ng-model="request.email", required)
            span.required(ng-show="emailForm.email.$valid || emailForm.email.$pristine") &nbsp;
            span.required(ng-show="emailForm.email.$invalid && emailForm.email.$dirty") Valid email required
          div.col-xs-4
      div.form-group
        div.row
          label.col-xs-2.email(for="subject")
            span.required *&nbsp;
            | Subject:
          div.col-xs-6
            input.form-control(type="text", placeholder="Subject", name="subject", id="subject", ng-model="request.subject", ng-maxlength="78", required)
            span.required(ng-show="emailForm.subject.$valid || emailForm.subject.$pristine") &nbsp;
            span.required(ng-show="emailForm.subject.$invalid && emailForm.subject.$dirty") Subject required
            span.required(ng-show="emailForm.subject.$error.maxlength") Subject too long
          div.col-xs-4
      div.form-group
        div.row
          label.col-xs-2.email(for="message") Message:
          div.col-xs-9
            textarea.form-control(rows="8", placeholder="Your Message", name="message", id="message", ng-model="request.message")
          div.col-xs-1
      div.form-group
        div.row
          div.col-xs-4
          div.col-xs-3
            span.pull-right {{ status }}
          div.col-xs-2
            button.btn.btn-primary.btn-default.pull-right(ng-click="submit()", ng-disabled="emailForm.$invalid || sendButtonLock") {{ sendButtonText }}
          div.col-xs-2
            button.btn.btn-warning.pull-right(ng-click="clear()") Clear
          div.col-xs-1
    hr
    div.row
      div.col-xs-12
        p.edo-modal-subtitle.cetner Response JSON
        div.form-group
          div.row
            div.col-xs-12
              textarea.form-control(rows="4", placeholder="Raw JSON", name="response", id="response", ng-model="responseString")

  div.modal-footer.edo-modal-footer
    button.btn.btn-danger.btn-sm(ng-click="dismiss()") Close
