div
  div.modal-header.edo-modal-header
    h3.modal-title.edo-modal-title {{ pageTitle }}
  div.modal-body
    div.form-group
      div.row
        div.col-xs-12
          textarea.form-control(rows="20", placeholder="Scott says....", name="scottisms", id="scottisms", ng-model="response.content")
  div.modal-footer.edo-modal-footer
    button.btn.btn-primary.btn-sm(ng-click="submit()") Submit (GET)
    button.btn.btn-warning.btn-sm(ng-click="clear()") Clear
    button.btn.btn-danger.btn-sm(ng-click="dismiss()") Close
