// Site-wide
body {
  background: #ffffff;
  height: 100%;
  padding: 0;
  margin: 0;
}

h3, h1, p, label {
  font-family: KozGoPro-ExtraLight;
  color: #1c1c1c;
  margin: 0px;
}

a:hover{
  text-decoration: none;
}

@font-face {
  font-family: KozGoPro-ExtraLight;
  src: url('../assets/fonts/KozGoPro-ExtraLight.otf') format('opentype');
}

[ng-click] {
  cursor: pointer;
}

// Page wrapper
#edo-page-wrapper {
  min-height: 100%;
  background-image: url('../assets/images/background.jpg');
  background-repeat: repeat;
  position: relative;
}

// Header / Menu
#edo-navbar-wrapper {
  background-color: #1c1c1c;
  width: 100%;
  height: 80px;
  position: relative;
  top: 0px;
}

#edo-navbar {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

#edo-navbar-logo {
  width: 150px;
  float: left;
}

.edo-navbar-item {
  width: 175px;
  float: left;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: ;
}

.edo-navbar-overbar {
  background-color: #ffffff;
  width: 100%;
  height: 1px;
  margin-bottom: 3px;
}

.edo-navbar-overbar-mouseover {
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  margin-bottom: 1px;
}

.edo-navbar-name {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.edo-navbar-name p {
  font-size: 16px;
  color: #ffffff;
  line-height: 60px;
}

#edo-navbar-tail {
  width: 90px;
  float: left;
  text-align: center;
}

#edo-navbar-tail img {
  padding-top: 25px;
}

// Content
#edo-content-wrapper {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 60px;
}

.edo-content-header {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.edo-content-header-section {
  float: left;
}

.page-title {
  font-size: 24px;
  color: #1c1c1c;
}

.page-title-sub {
  font-size: 20px;
}

.page-subheader {
  font-size: 18px;
  font-style: italic;
}

.edo-content {
  padding-top: 20px;
}

.edo-content p, label {
  font-size: 14px;
  color: #1c1c1c;
}

// Modals
.edo-modal-header {
  background-color: #f4f4f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.edo-modal-title {
  text-align: center;
  font-size: 20px;
}

.edo-modal-body {
  font-size: 14px;
  color: #1c1c1c;
  padding-top: 15px;
}

.edo-modal-footer {
  background-color: #f8f8f8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


// Footer
#edo-footer-wrapper {
  background-color: #d1d1d1;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
}

#edo-footer {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.edo-web-service-title {
  font-size: 20px;
  font-weight: bold;
}

.edo-web-service-soap {
  font-weight: normal;
  font-size: 20px;
  color: #3070b8;
}

.edo-web-service-rest {
  font-weight: normal;
  font-size: 20px;
  color: #f8572b;
}

.edo-web-service-description {
  font-size: 12px;
}

#edo-footer p {
  font-size: 14px;
}

// General stuff
.contact-info {
  padding-left: 30px;
}

.email {
  margin-bottom: 3px;
}

.center {
  text-align: center;
}

object.resume {
  width: 845px;
  height: 22.25in;
}

.foobar {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

.checking {
  font-weight: bold;
  color: #f59026;
}

.online {
  font-weight: bold;
  color: #8bc441;
}

.offline {
  font-weight: bold;
  color: #f34135;
}

.animate-enter,
.animate-leave
{
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.animate-enter {
  left: 100%;
}
.animate-enter.animate-enter-active {
  left: 0;
}

.animate-leave {
  left: 0;
}
.animate-leave.animate-leave-active{
  left: -100%;
}