body {
  background: #292929;
  overflow: scroll;
}

.ohc-header {
  padding-top: 30px;
  background-image: url('../images/line.jpg');
  background-repeat: repeat;
  width: 984px;
  height: 112px;
}

.container-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 1024px;
}

.subcontainer-non-responsive {
  /* Margin/padding copied from Bootstrap */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* Set width to your desired site width */
  width: 960px;
}


@font-face {
  font-family: KozGoPro-ExtraLight;
  src: url('../fonts/KozGoPro-ExtraLight.otf') format('opentype');
}

h3.page-title {
  font-family: KozGoPro-ExtraLight;
  font-size: 22px;
  color: #e3e3e3;
  margin: 0px;
}

h3.page-title-sub {
  color: #ababab;
}

label.email {
  font-family: KozGoPro-ExtraLight;
  font-size: 18px;
  color: #e3e3e3;
  margin: 0px;
  text-align: right;
  font-weight: normal;
}

h1.page-content {
  font-family: KozGoPro-ExtraLight;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

p.page-content {
  font-family: KozGoPro-ExtraLight;
  font-size: 14px;
  color: #FFFFFF;
  margin: 5px;
  margin-left: 15px;
}

p.page-footer {
  font-family: KozGoPro-ExtraLight;
  font-size: 12px;
  color: #ababab;
  text-align: center;
}

div.footer {
  bottom: 0;
  height: 40px;
  margin-top: 40px;
}

.title-clearance {
  padding-top: 90px;
}

object.resume {
  width: 845px;
  height: 22.25in;
}

.center {
  text-align: center;
}

.email-input {
  margin-bottom: 5px;
}