html(lang="en")
  head
    title edocode.io - when turtles fly
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Style-Type', content='text/css')
    meta(name='copyright', content='© Eric Storch')
    meta(name='author', lang='en', content='Eric Storch')
    meta(name='robots', content='Index,Follow')
    meta(name='description', content='Portfolio & Web-Service Demonstration Platform')
    meta(name='keyword', content='Eric Storch, Software Developer, Programmer, Seattle')
  body(ng-app="app", ng-controller="appController")
body
  div#wrapper
    div#sidebar-wrapper
      a(ng-href="#/about")
        img(src="assets/logo.jpg", id="logo")
      a(href="#/about")
        img(src="assets/about.jpg", id="about", class="menu-item")
      a(href="#/web-services")
        img(src="assets/web-services.jpg", id="web-services", class="menu-item")
      a(href="#/resume")
        img(src="assets/resume.jpg", id="resume", class="menu-item")
      a(href="#/linkedin")
        img(src="assets/linkedin.jpg", id="linkedin", class="menu-item")
      a(href="#/gihub")
        img(src="assets/github.jpg", id="github", class="menu-item")
      a(href="#/contact")
        img(src="assets/contact.jpg", id="contact", class="menu-item")

    div#page-content-wrapper
      div(ng-view)

link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/custom.css")
script(src="js/angular.js")
script(src="js/angular-route.js")
script(src="js/jquery.js")
script(src="js/app.js")
script(src="js/custom.js")