block header
  div.edo-content-header
    span.edo-content-header-section-left
      h3.page-title &lsaquo;
    span.edo-content-header-section-center
      h3.page-title.center {{ pageTitle }}
      block subheader
        h3.page-title.page-title-sub.center {{ pageSubtitle }}
    span.edo-content-header-section-right
      h3.page-title &rsaquo;

block content
  h1 Empty Content!
  p Seriously, you shouldn't be seeing this...